.chart-card{
  margin-top:40px;
  padding:30px;
  background:rgba(255,255,255,.08);
  border:1px solid rgba(255,255,255,.1);
  border-radius:24px;
  backdrop-filter:blur(20px);
  color:white;
  transition:.35s ease;
  overflow:hidden;
  position:relative;
}

.chart-card::before{
  content:"";
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background:linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,.12),
    transparent
  );
  transition:.8s;
}

.chart-card:hover::before{
  left:100%;
}

.chart-card:hover{
  transform:translateY(-8px);
  box-shadow:0 20px 50px rgba(37,99,235,.35);
}

.chart-card h2{
  font-size:26px;
  margin-bottom:25px;
  font-weight:700;
  color:white;
}

.recharts-cartesian-grid line{
  stroke:rgba(255,255,255,.08);
}

.recharts-tooltip-wrapper{
  border-radius:12px;
}

.recharts-default-tooltip{
  background:#111827 !important;
  border:none !important;
  border-radius:12px !important;
  color:white !important;
}

.recharts-text{
  fill:#cbd5e1;
}
