.dashboard {
  margin-left: 260px;
  padding: 100px 30px 30px;
  min-height: 100vh;
  background: #050816;
  color: white;
}

.dashboard h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.dashboard p {
  color: #94a3b8;
  font-size: 18px;
  margin-bottom: 35px;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
  width: 100%;
}

.chart-card {
  margin-top: 35px;
}

.customer-card {
  margin-top: 35px;
}

/* Tablet */
@media (max-width: 1024px) {

  .dashboard {
    margin-left: 260px;
    padding: 100px 25px 25px;
  }

  .stats-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

}

/* Mobile */
@media (max-width: 768px) {

  .dashboard {
    margin-left: 0;
    padding: 90px 20px 20px;
  }

  .stats-container {
    grid-template-columns: 1fr;
    gap: 18px;
  }

}
