.dashboard{

  padding:40px;

  min-height:100vh;

  background:#0f172a;

  color:white;

}


.dashboard h1{

  font-size:42px;

  margin-bottom:10px;

}


.dashboard p{

  color:#94a3b8;

  font-size:18px;

}


.stats-container{

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:25px;

  margin-top:40px;

}
