.login-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#050816;
}

.login-card{
  width:380px;
  padding:35px;
  background:#0f172a;
  border-radius:20px;
  border:1px solid rgba(255,255,255,.1);
}

.login-card h1{
  color:white;
  margin-bottom:10px;
}

.login-card p{
  color:#94a3b8;
  margin-bottom:25px;
}

.login-card input{
  width:100%;
  padding:14px;
  margin-bottom:15px;
  border-radius:10px;
  border:none;
  background:#1e293b;
  color:white;
}

.login-card button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  cursor:pointer;
  font-size:16px;
}
