.navbar{

  position:fixed;

  top:0;

  left:260px;

  width:calc(100% - 260px);

  height:80px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:0 40px;

  background:#0f172a;

  border-bottom:1px solid rgba(255,255,255,.1);

  color:white;

  z-index:1000;

}

  

  


.search-box{

  padding:12px 25px;

  width:300px;

  border-radius:14px;

  background:rgba(255,255,255,0.08);

  border:1px solid rgba(255,255,255,0.1);

  color:#cbd5e1;

}


.nav-right{

  display:flex;

  gap:25px;

  align-items:center;

  font-size:18px;

}


.nav-right span{

  padding:10px 15px;

  border-radius:12px;

  background:rgba(255,255,255,0.05);

  cursor:pointer;

}
