.sidebar{

  width:260px;

  min-height:100vh;

  background:#020617;

  color:white;

  padding:30px 20px;

  border-right:1px solid rgba(255,255,255,0.1);

}


.sidebar h2{

  font-size:24px;

  margin-bottom:40px;

}


.sidebar ul{

  list-style:none;

  padding:0;

}


.sidebar li{

  padding:15px;

  margin-bottom:12px;

  border-radius:14px;

  color:#cbd5e1;

  cursor:pointer;

  transition:0.3s;

}


.sidebar li:hover{

  background:rgba(59,130,246,0.2);

  color:white;

  transform:translateX(5px);

}
